@{ 
    var txt = Math.PI;
	
}
@functions{
	double counter,A,B,C;
	public double root1(){
		return ((-B + Math.Sqrt(B*B-4*A*C))/(2*A));
	}
	public double root2(){
		return ((-B - Math.Sqrt(B*B-4*A*C))/(2*A));
	}
}
<html>
<body>
    <p>Pi equals to @txt</p>
	<p>let's solve square equation</p> 
		<p1>
			<input type="number" id="A"> * x^2 + <input type="number" id="B"> * x + <input type="number" id="C"> = 0
			<input type=button text="Solve!">
			<input type=button text="Solve!" onclick=function()
				{
					@A=document.getElementById("A").value;
					@B=document.getElementById("B").value;
					@C=document.getElementById("C").value;
					alert("Root 1 ="+@root1() + "\nRoot 2 = "+@root2());
				}
			>
		</p1>
		
</body>
</html>