@{ 
    var txt = Math.PI;
	var counter = 0;
}
<html>
<body>
    <p>Pi equals to @txt</p>
	<button type="button" onclick=@counter++>Add 1 to counter!</button>
	<p>Clicks : @counter</p> 
</body>
</html>