@{ 
    double F (int i) {
	if (i>100) return 0;
    return 1 + i / (2.0 * i + 1) * F(i + 1);
	};
	txt = 2*F(1);
}
@functions{
	double counter,A,B,C;
	public double root1(){
		return ((-B + Math.Sqrt(B*B-4*A*C))/(2*A));
	}
	public double root2(){
		return ((-B - Math.Sqrt(B*B-4*A*C))/(2*A));
	}
}
<html>
<body>
    <p>Pi equals to @txt</p>
	<p>This is my diploma right now</p> 
	<iframe width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ?autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
</html>