@functions{
	double F (int i) {
		if (i>1000) return 0;
		return 1 + i / (2.0 * i + 1) * F(i + 1);
	}
}
@{ 
	var txt = 2*F(1);
}

<html>
<body>
<p>Part one: calculating PI</p>
    <p1>Pi equals to @txt (evaluated on server side)</p1>
<p>Part two: funny wideos</p> 
	<iframe width="560" height="315" src="https://www.youtube.com/embed/3EIbWjkimAs?autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
</html>